.movie-card {
    height: 200px;
    margin: 10px;
    width: 133px;
}

.movie-card:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.movie-poster {
    max-height: 100%;
    object-fit: fill;
}